.header{
    font-size: 6vw;
    font-family: garamond;
    color: #313134;
    display: flex;
    flex-wrap: wrap;
    margin-left: 6vw;
}
.img{
    width: 30vw;
    height: 30vw;
    display: block;
    margin: auto;
    margin-top: 3vw;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
}
.info-bg{
    background-color: #f7f7f7;
    margin-top: 3vw;
    margin: 3vw;
    height: 30vw;
}
.info-topic{
    font-family: georgia;
    color: #313134;
    font-size: 4vw;
    margin-top: 4vw;
    margin-left: 5vw;
    float: left;
}
.info{
    display: inline-block;
    font-family: georgia;
    color: #313134;
    font-size: 4vw;
    margin-top: 4vw;
    margin-left: 5vw;
}
.link1{
    display: block;
    width: 50vw;
    height: 6vw;
    background-color: #545456;
    margin: auto;
    margin-top: 3vw;
}
.link1 a{
    text-decoration: none;
    float: none;
    color: #ddd;
    font-size: 4vw;
    margin-top: auto;
    margin-left: 5.5vw;
    background-color: transparent;
    border: none;
}
.link1:hover{
    background-color: rgb(190, 102, 102);
    color: #f9f9f9;
}
/*Navigate bar and dropdown*/
.line{
    width: 45vw;
    height: 0.2vw;
    background-color: #545456;
    margin-left: 5vw;
}
.navigate-bar{
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    background-color: transparent;
    width: 80vw;
    margin-left: 3.5vw;
}
.navigate-bar a{
    float: left;
    font-size: 3.5vw;
    color: #313134;
    text-align: center;
    padding: 1.5vw 2vw;
    text-decoration: none;
    font-family: Garamond;
}
.actdrop{
    float: left;
    overflow: hidden;
}
.actdrop .dropbtn{
    font-size: 3.5vw;
    font-family: Garamond;
    background-color: inherit;
    padding: 1.5vw 2vw;
    margin: 0;
    color: #313134;
    border: none;
    outline: none;
}
.navigate-bar:hover .actdrop:hover .dropbtn{
    background-color: rgb(190, 102, 102);
    color: #f9f9f9;
}
.dropcontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropcontent a{
    float: none;
    color: black;
    padding: 1.2vw 1.8vw;
    display: block;
    text-align: left;
    font-family: sans-serif;
    font-size: 2.5vw;
}
.dropcontent a:hover{
    background-color: #ddd;
}
.actdrop:hover .dropcontent{
    display: block;
}
/*End of navigate bar and dropdown css*/

body{
    background-color: #e2e2e4;
}