    .header{
        background-color: rgb(148, 174, 214);
        font-size: 50px;
        font-family: fantasy;
        color: aliceblue;
        height: 80px;
    }
    h1{
        color: rgb(205, 235, 229);
        text-align: center;
        font-family: fantasy;
        text-decoration: underline;
    }
    h2{
        color: rgb(205, 235, 229);      
        text-align: center;
        font-family: monospace;
    }
    .txt1{
        font-size: xx-large;
        color: aliceblue;
        text-align: center;
    }
    .txt2{
        font-size: large;
        text-align: justify;
        color: aliceblue;
        margin: auto;
        width: 500px;
    }
    .txt3{
        color: aliceblue;
        font-size: x-large;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .link{
        font-size: large; 
        color: rgb(205, 235, 229); 
        font-family: monospace;
    }
    p {
        color: rgb(205, 235, 229);
        font-family: monospace;
        text-align: center;
    }
    body{
        background-color: rgb(101, 137, 190);
    }
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }